version: "3.9"

services:
  java_api:
    build: ./processor
    container_name: java_api
    ports:
      - "8080:8080"

  express_api:
    build: ./server
    container_name: express_api
    ports:
      - "3000:3000"
    environment:
      JAVA_API_URL: "http://java_api:8080"
    depends_on:
      - java_api
